*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

:root{
    --color1:#F4511E;
}

.mybgcolor{
    background-color: var(--color1);

}

.mybgcolor2{
    background-color: #F6F6F6;
}

.font1{
    font-family: Montserrat, sans-serif;
}

.font2{
    font-family: 'Lato', sans-serif;
}

nav{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 4px;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
    z-index: 99999 !important;
}

.nav-link{
    color: rgba(255, 255, 255, 1) !important;
    line-height: 2;
}

.nav-link.active{
    background-color: #fff;
    color: #F4511E !important;

}

.navbar-nav li a:hover{
    background-color: #fff;
    color: #F4511E !important;

}


.div1{
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.fas{
    color: #F4511E;
}

.carousel-control-next-icon , .carousel-control-prev-icon{
    background-image: none;
}

.b3{
    border-radius: 0px;
    border-color: #F4511E;
}

.b1{
    background-color: #F4511E;
    color: #fff;
}

.b1:hover{
    background-color: #fff;
    color: #F4511E;
    border-color: #F4511E;
}

.b2{
    float:right;
    background-color: #fff;
    border: solid 2px #756d6d38;
    border-radius: 2px;
}

.b2:hover{
    background-color:#61595917 ;  
}

.b4{
background-color: #fff;
border: solid 2px #756d6d38;
border-radius: 2px;
}

.b4:hover{
background-color:#61595917 ;  
}

.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:rgba(244, 81, 31, 0.9) !important;
    border: 1px solid var(--color1);
    
}
